@import url('https://fonts.googleapis.com/css2?famliy=Roboto&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}

.container {
    margin: auto;
    width: 1280px;
    justify-content: center;
}

.title {
    width: 334px;
    height: 79px;
    font-style: normal;
    font-weight: 400;
    font-size: 80px;
    line-height: 94px;
    display: flex;
    align-items: flex-end;
    text-align: center;
    margin-left: 100px;
    margin-top: 60px;
}

.text {
    color: #000000;
    text-decoration: none;
}

.text-colour {
    color: #4BCAFF;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1280px;
    height: 69px;
    background: #35444F;
    margin-top: 40px;
    margin-left: 100px;
    color: #FFFFFF;
    font-size: 24px;
}

.nav-link1 {
    display: flex;
    border-right: 1px solid #FFFFFF;
    border-left: 1px solid #FFFFFF;
    width: 331px;
    height: 69px;
    align-items: center;
    justify-content: center;
}

.nav-link1:hover {
    background: #222F3A;
}

.nav-link2 {
    display: flex;
    border-right: 1px solid #FFFFFF;
    width: 154px;
    height: 69px;
    align-items: center;
    justify-content: center;
}

.nav-link2:hover {
    background: #222F3A;
}

.nav-link3 {
    display: flex;
    border-right: 1px solid #FFFFFF;
    width: 285px;
    height: 69px;
    align-items: center;
    justify-content: center;
}

.nav-link3:hover {
    background: #222F3A;
}

.nav-link4 {
    display: flex;
    border-right: 1px solid #FFFFFF;
    line-height: 69px;
    width: 244px;
    height: 69px;
    align-items: center;
    justify-content: center;
}

.nav-link4:hover {
    background: #222F3A;
}

.main {
    display: flex;
    gap: 52px;
    margin: 50px 100px;
    width: 1280px;
}

.left-menu {
    width: 344px;
    height: 395px;
    border: 1px solid #000000;
}

.left-menu-item {
    display: flex;
    padding: 27px 44px;
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 25px;
    color: #485863;
}

.left-menu-item:hover {
    background: #DBDBDB;
    padding-left: 60px;
    color: #000000;
}

.wrapper-img {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    padding: 75px 0;
    width: 885px;
    height: 529px;
}

img {
    display: flex;
    justify-content: center;
    width: 320px;
    height: 381px;
}

img:hover {
    transform: scale(1.2);
}

.text1 {
    display: flex;
    padding-top: 37px;
    width: 885px;
    height: 157px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.text2 {
    display: flex;
    padding-top: 34px;
    width: 885px;
    height: 143px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
}

.footer {
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    justify-content: space-around;
    align-items: center;
    background: rgba(99, 105, 110, 0.48);
    width: 1280px;
    height: 69px;
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 28px;
}

.banner-bottom {
    display: flex;
    width: 190px;
    height: 69px;
    justify-content: flex-end;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
}

.bottom-menu {
    display: flex;
    list-style-type: none;
    gap: 10px;
}

.footer-item:hover {
    color: #3181A6;
    text-decoration: underline;
}
